html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; 
}

.ant-layout {
  display: flex;
  flex-direction: row;
}

.ant-layout-content {
  flex: 1;
}


*{
  margin: 0;
  padding: 0;
}